@font-face {
    font-family: Terminal;
    src: url(../fonts/Modeseven-L3n5.ttf);
}

body {
    font-family: Terminal;
    font-size: 20px;
}

.page-body {
    display: flex;
    text-align: center;
    border: 4px solid;
    padding: 2em;
}

.page-body > .page-left {
    text-align: left;
    width: 30%;
}

.page-body > .page-right {
    text-align: left;
    width: 70%;
}

.page-body > * {
    border: 2px solid;
    padding: 2em 2em;
}