
<div class="sidebar">    
    <h1 id="author"><a href="{{ .Permalink }}/index">{{ .Site.Data.sidebar.author }}</a></h1>

    <h2>Roles</h2>
    {{ range .Site.Data.sidebar.roles }}
    <div class="sidebar-role">
        <h3>{{ .role }}</h3>
        <p>{{ .location }}</p>
    </div>
    {{ end }}
    
    <h2>Socials and Résumé</h2>
    <div class="sidebar-socials">  
        {{ range .Site.Data.sidebar.socials }}
        <div class="sidebar-social">
            <a class="icon" href="{{ .url }}">{{ .icon | markdownify }}</a>
        </div>
        {{ end }}
    </div>
</div>